<!-- Footer -->
<footer id="footer" class="footer">
  <div class="container">
    <div class="footer-info">
      <div class="col-1">
        <h2>Find Us</h2>
        <p>
          Desert city of Mos Eisley,<br />
          Tatooine
        </p>
      </div>
      <div class="col-2">
        <h2>Reservation</h2>
        <p>855-345-2186</p>
        <p><a href="mailto:info@sithlord.com">info@sithlord.com</a></p>
      </div>
      <div class="col-3">
        <h2>Open Hours</h2>
        <p>Monday: Closed</p>
        <strong>Tuesday - Friday</strong>
        <p>7:00 AM - 9:00 PM</p>
        <strong>Saturday - Sunday</strong>
        <p>11:00 AM - 10:00 PM</p>
      </div>
      <div class="col-4">
        <div class="social-icons">
          <ul>
            <li><a href="#" class="facebook">Facebook</a></li>
            <li><a href="#" class="twitter">Twitter</a></li>
            <li><a href="#" class="instagram">Instagram</a></li>
          </ul>
        </div>
        <div class="copyright">
          <p>Copyright &copy; 2023 <br />Order 66 Cantina</p>
        </div>
      </div>
    </div>
  </div>
</footer>