{% extends 'base.html' %} {% block title %} | 
User Dashboard {% endblock %} 

{% block content %}

<section class="menu-banner-section">
  <div class="container">
     <div class="menu-banner-info">
        <h4>Dashboard</h4>
        <h1>Welcome {{ user.username.capitalize }}</h1>
     </div>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<section id="dashboard" class="dash">
  <div class="container">
    <div class="dash-table">
      <div class="dash-header">
        <h2>Your favorite items</h2>
      </div>
      <div class="vertical"></div>
      <div class="dash-header">
        <h2>Make a menu suggestion</h2>
        <form action="{% url 'suggestion' %}" method="POST">
          {% csrf_token %}
          <div class="sug-form">
            <label for="name" class="sug-label">Name of Item:</label>
            <input type="text" name="name" class="form-control" required/>
          </div>
          <div class="sug-form">
            <label for="description" class="sug-label">Description of Item:</label>
            <textarea type="text" name="description" class="form-control" required></textarea>
          </div>
          <input type="submit" value="Send" class="sug-btn"/>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}