{% extends 'base.html' %} {% load humanize %} {% block title %} | Welcome 
{% endblock %} {% block content %}
<!-- BANNER -->
<section class="banner-section">
  <div class="color">
  <div class="container">
    <div class="banner-info">
      <h3>Eatery &amp; Cantina</h3>
      <h1>
        Our mission is to provide the galaxy with an exceptional experience.
      </h1>
    </div>
  </div>
  </div>
</section>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

<!-- ABOUT -->
<section class="about-section" id="about">
  <div class="container">
    <div class="about-info">
      <div class="about-title">
        <h4>Read our story</h4>
        <h2>We've been Making The Delicious Foods Since 1977</h2>
      </div>
      <div class="about-p">
        <p></p>
      </div>
      <div>
        <img src="" class="about-img" alt="" />
      </div>
    </div>
  </div>
</section>

<!-- TEAM -->
<section class="team-section">
  <div class="container">
    <div class="team-inner">
      <div class="team-banner">
        <h2>Meet our Servers</h2>
        <h4>They are professional &amp; mostly friendly</h4>
      </div>
      <section id="team" class="">
        <div class="container">
          <h2 class="">Our Team</h2>
          <div class="">
            {% if servers %} {% for server in servers %}
            <div class="">
              <img src="{{ server.photo.url }}" alt="" class="" />
              <h4>{{ server.name }}</h4>
              <p class="">Server</p>
              <hr />
              <p>{{ server.description }}</p>
            </div>
            {% endfor %} {% else %}
            <div class="">
              <p>No Realtors Available</p>
            </div>
            {% endif %}
          </div>
        </div>
      </section>
    </div>
  </div>
</section>

<!-- MENU -->
<section class="menu-section">
  <div class="container">
    <div class="menu-inner">
      <div class="menu-banner">
        <h2>Our Menu</h2>
        <h4>Drinks &amp; Food</h4>
      </div>
      <div class="consumable-col">
        {% if consumables %} {% for consumable in consumables %}
        <div class="">
          <div class="">
            <img class="card-img" src="{{consumable.photo_main.url}}" alt="" />
            <div class="card-body">
              <div class="">
                <h4 class="text-primary">{{ consumable.name }}</h4>
              </div>
              <hr />
              <a href="{% url 'consumable' consumable.id %}" class=""
                >More Info</a
              >
            </div>
          </div>
        </div>
        {% endfor %} {% else %}
        <div class="">
          <p>No Listings Available</p>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
