.navbar-main {
   background-image: url(/cantina/static/img/Tatooine-Star-Wars.avif);
   background-size: cover;
   background-position: center;
   position: fixed;
   width: 100%;
   top: 0;
   z-index: 50;
}

.color {
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 20%);
}

.color .container {
   padding: 30px 0;
}

.navbar {
   display: flex;
   justify-content: space-between;
}

.logo {
   font-size: 40px;
   font-weight: 800;
   color: papayawhip;
}

.nav-ul {
   display: flex;
   align-items: center;
   gap: 60px;
}

.nav {
   display: flex;
   gap: 20px;
}

.logins li {
   margin-bottom: 5px;
}

.nav-link {
   color: papayawhip;
   font-size: 18px;
   font-weight: 600;
}