* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: sans-serif;
   list-style: none;
   scroll-behavior: smooth;
}

body {
   height: 100vh;
   width: 100%;
}

.container {
   margin: 0 5%;
}

img {
   width: 100px;
}

hr {
   width: 85%;
   margin: auto;
}

/* Banner */

.banner-section {
   position: relative;
   height: 55%;
   margin-top: 116px;
}

.video{
   position: absolute;
   object-fit: cover;
   height: 100%;
   width: 100%;
   z-index: -1;
}

.banner-section .color {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 70%);
}

.banner-info {
   color: papayawhip;
   text-align: center;
}

.banner-info h3 {
   font-size: 15px;
}

.banner-info h1 {
   font-size: 25px;
}

/* About */

.about-info {
   display: flex;
   align-items: center;
   gap: 150px;
   margin: 20px 0;
}

.about-title {
   margin-bottom: 20px;
}

.about-img {
   width: 400px;
   height: 240px;
   border-radius: 10px;
}

/* Team */

.team-section {
   margin: 2% 0;
   padding: 10px 0;
}

.team-banner {
   text-align: center;
   margin-bottom: 5px;
}

.team {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.team-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 350px;
   border: 1px solid black;
   border-radius: 10px;
   padding: 5px;
   background-color: white;
}

.team-card h4 {
   font-size: 18px;
   margin: 5px 0;
}

/* Menu */

.menu-banner {
   text-align: center;
   margin: 10px 0;
}

.menu {
   display: flex;
   justify-content: space-evenly;
   gap: 10px;
   margin: 2% 0;
}

.item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   padding: 5px;
   border: 1px solid;
   width: 160px;
   height: 250px;
}

.menu-img {
   width: 140px;
   height: 160px;
   margin: auto;
}

.menu-body {
   margin-top: 10px;
   text-align: center;
}

.menu-body h4 {
   font-size: 18px;
   margin-bottom: 2px;
}

.menu-body a {
   color: black;
}

.menu-banner-section {
   background-color: khaki;
   margin-top: 117px;
   padding: 40px 0;
   text-align: center;
}

.menu-section {
   margin-top: 2%;
}

.item-banner {
   text-align: center;
   font-size: 25px;
   text-decoration: underline;
}

.item-section {
   margin-top: 150px;
   margin-bottom: 50px;
}

.item-card {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 4%;
   margin: 10px 0;
}

.item-img img {
   width: 300px;
   border: 5px solid black;
   border-radius: 30px;
}

.descript {
   width: 300px;
   font-size: 25px;
}

.descript h3 {
   margin-bottom: 10px;
   text-decoration: underline;
}

.fav-me,
.fav-me a {
   text-align: center;
   font-size: 20px;
   color: black;
   padding-top: 10px;
}

/* Register */

.register-section,
.login-section {
   margin-top: 117px;
   padding: 40px 0;
}

.register,
.login {
   text-align: center;
}

.register-header,
.login-header {
   font-size: 25px;
   margin-bottom: 10px;
}

.register-body,
.login-body {
   margin: auto;
   width: 350px;
   text-align: end;
}

.form-group {
   margin: 8px 0;
}

.register-btn,
.login-btn {
   margin-right: 30px;
   background-color: black;
   color: papayawhip;
   margin-top: 5px;
   padding: 10px 15px;
   border-radius: 20px;
}

/* Login */


/* Dashboard */

