* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   text-decoration: none;
   font-family: sans-serif;
   list-style: none;
   scroll-behavior: smooth;
}

body {
   height: 100vh;
   width: 100%;
}

.container {
   margin: 0 5%;
}

img {
   width: 100px;
}

hr {
   width: 85%;
   margin: auto;
}

/* Banner */

.banner-section {
   position: relative;
   height: 55%;
   margin-top: 116px;
}

.video{
   position: absolute;
   object-fit: cover;
   height: 100%;
   width: 100%;
   z-index: -1;
}

.banner-section .color {
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 70%);
}

.banner-info {
   color: papayawhip;
   text-align: center;
}

.banner-info h3 {
   font-size: 15px;
}

.banner-info h1 {
   font-size: 25px;
}

/* About */

.about-info {
   display: flex;
   align-items: center;
   gap: 150px;
   margin: 20px 0;
}

.about-title {
   margin-bottom: 20px;
}

.about-img {
   width: 400px;
   height: 240px;
   border-radius: 10px;
}

/* Team */

.team-section {
   margin: 2% 0;
   padding: 10px 0;
}

.team-banner {
   text-align: center;
   margin-bottom: 5px;
}

.team {
   display: flex;
   justify-content: space-evenly;
   flex-wrap: wrap;
}

.team-card {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 350px;
   border: 1px solid black;
   border-radius: 10px;
   padding: 5px;
   background-color: white;
}

.team-card h4 {
   font-size: 18px;
   margin: 5px 0;
}

/* Menu */

.menu-banner {
   text-align: center;
   margin: 10px 0;
}

.menu {
   display: flex;
   justify-content: space-evenly;
   align-items: flex-end;
   margin: 2% 0;
}

.item {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: flex-end;
   padding: 5px;
   border: 1px solid;
   width: 150px;
   height: 220px;
}

.menu-img {
   width: 130px;
   height: 140px;
   margin: auto;
}

.menu-body {
   margin-top: 10px;
   text-align: center;
}

.menu-body h4 {
   font-size: 18px;
   margin-bottom: 2px;
}

.menu-body a {
   color: black;
}