{% extends 'base.html' %} {% load humanize %} {% block title %} | Browse Menu Items 
{% endblock %} {% block content %}

<section class="menu-banner-section">
   <div class="container">
      <div class="menu-banner-info">
         <h3>Order 66 Cantina Menu</h3>
         <h1>
          Our selection of food &amp; drinks are out of this world!
         </h1>
      </div>
   </div>
</section>

<!-- Drink Menu -->
<section class="menu-section">
  <div class="container">
    <div class="menu-inner">
      <div class="item-banner">
        <h4>Drink Menu</h4>
      </div>
      <div class="menu">
        {% for consumable in consumables %} {% if consumable.cuisine_type == "DR" %}
        <div class="item">
          <img
            class="menu-img"
            src="{{consumable.photo_main.url}}"
            alt="{{ consumable.name }}"/>
          <div class="menu-body">
            <h4>{{ consumable.name }}</h4>
            <hr />
            <a href="{% url 'consumable' consumable.id %}">More Info</a>
          </div>
        </div>
        {% endif %} {% endfor %}
      </div>
    </div>
  </div>
</section>
<hr>

<!-- Food Menu -->
<section class="menu-section">
   <div class="container">
      <div class="menu-inner">
        <div class="item-banner">
          <h4>Food Menu</h4>
        </div>
        <div class="menu">
          {% for consumable in consumables %} {% if consumable.cuisine_type == "FD" %}
          <div class="item">
            <img
              class="menu-img"
              src="{{consumable.photo_main.url}}"
              alt="{{ consumable.name }}"/>
            <div class="menu-body">
              <h4>{{ consumable.name }}</h4>
              <hr />
              <a href="{% url 'consumable' consumable.id %}">More Info</a>
            </div>
          </div>
          {% endif %} {% endfor %}
        </div>
      </div>
   </div>
</section>
{% endblock %}