{% extends 'base.html' %} {% load humanize %} {% block title %} | 
{{ consumable.name }} {% endblock %} {% block content %}

<section class="menu-section item-section">
   <div class="container">
     <div class="menu-inner">
      <div class="item-banner">
         <h4>{{ consumable.name }}</h4>
      </div>
      <div class="item-card">
         <div class="item-img">
           <img
             src="{{consumable.photo_main.url}}"
             alt="{{ consumable.name }}"/>
         </div>
         <div class="descript">
            <h3>Description</h3>
            <p>{{ consumable.description }}</p>
         </div>
      </div>
      <hr>
      <div class="fav-me">
           <a href="/consumables/{{consumable.id}}?favorite=true" id="fav-btn">Favorite Me</a>
      </div>

<!-- Alerts -->
{% include 'partials/_alerts.html' %}

     </div>
   </div>
 </section>

{% endblock %}