{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Custom -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- Nav -->
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <!-- Footer -->
    <link rel="stylesheet" href="{% static 'css/footer.css' %}" />
    
    <title>Order 66 Cantina {% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- Nav Bar-->
    {% include 'partials/_navbar.html' %}
    <!-- Main Content-->
    {% block content %} {% endblock %}

    <!-- Footer-->
    {% include 'partials/_footer.html' %}
    <script src="{% static 'js/scripts.js' %} "></script>
  </body>
</html>