{% load static %}
<!-- Navbar -->
<nav id="navbar">
  <div class="container">
    <div class="navbar-logo">
      <a href="{% url 'index' %}" class="logo">Order 66 Cantina</a>
    </div>
    <div class="navbar">
      <ul class="nav">
        <li           
          {% if '/' == request.path %}
            class=""
          {% else %}
            class=""
          {% endif %}><a href="{% url 'index' %}" class="nav-link">Home</a></li>

        <li><a href="#about" class="nav-link">About</a></li>

        <li
          {% if '/' == request.path %}
            class=""
          {% else %}
            class=""
          {% endif %}><a href="{% url 'consumables' %}" class="nav-link">Menu</a></li>

        <li><a href="#footer" class="nav-link">Contact</a></li>
      </ul>

      <ul class="">
        {% if user.is_authenticated %}
          <li
          {% if 'dashboard' in request.path %}
            class=""
          {% else %}
            class=""
          {% endif %}>
          <a class="nav-link" href="{% url 'dashboard' %}"> Welcome {{ user.username }} (Dashboard)</a>
          </li>

          <li class="">
            <a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
               Logout</a>
            <form action="{% url 'logout' %}" method="POST" id="logout">
              {% csrf_token %}
              <input type="hidden">
            </form>
          </li>

        {% else %}
          <li
          {% if 'register' in request.path %}
            class=""
          {% else %}
            class=""
          {% endif %}>
          <a class="nav-link" href="{% url 'register' %}">Register</a>
          </li>

          <li
          {% if 'login' in request.path %}
            class=""
          {% else %}
            class=""
          {% endif %}>
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        {% endif %}  
      </ul>
    </div>
  </div>
</nav>